{{>navbar}}
<div class="container-fluid p-0">
  <a href="/specs/{{spec.id}}" class="link-dark m-2 mb-0 d-inline-block">&larr; Back</a>
  <div class="container-fluid m-0 p-0 my-2 p-4 bg-light border-top border-bottom border-color-secondary">
    
    {{!-- Spec Logs Table --}}
    <div id="spec-logs">
      <h2 id="detail-name" class="col-12 text-primary fw-bold pb-2">
        {{spec.name}}
      </h2>
      <div class="row border border-color-secondary">
        <div class="col-12 fw-bold bg-white p-2 text-primary">Activity Log</div>
      </div>
      {{#each spec.speclogs as |log|}}
      <div class="row border border-color-secondary border-top-0">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">{{format_datetime log.created}}</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">{{log.body}}</div>
      </div>
      {{/each}}
  </div>
</div>
<script type="text/javascript">
  window.baseUrl = "{{baseUrlPath}}";
</script>
<script src={{baseUrl "/js/logout.js"}}></script>