{{>navbar}}
<div class="container-fluid p-0">
  <a href="{{context}}" class="link-dark m-2 mb-0 d-inline-block">&larr; Back</a>
  <div class="container-fluid m-0 p-0 my-2 p-4 bg-light border-top border-bottom border-color-secondary">
    
    {{!-- Spec Details Table --}}
    <div id="spec-details">
      {{#if (isAdmin access)}}
        <div id="details-admin-bar" class="d-flex justify-content-end align-items-center">
          <div id="delete-err" class="text-danger me-3"></div>
          <button id="delete" class="btn btn-danger mb-3 me-2"><i class="fa-solid fa-trash-can me-2"></i>Delete Spec</button>
          <button id="edit" class="btn btn-primary mb-3"><i class="fa-solid fa-pen-to-square me-2"></i>Edit Spec</button>
        </div>
      {{/if}}
      <h2 id="detail-name" class="col-12 text-primary fw-bold pb-2">
        {{spec.name}}
      </h2>
      <div class="row border border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Part No.</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">{{spec.pn}}</div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Category:</div>
        <div id="detail-category" class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">{{spec.category.name}}</div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Vendor:</div>
        <div id="detail-vendor" class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">{{spec.vendor.name}}</div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Status:</div>
        <div id="detail-status" class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">{{spec.status}}</div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Item Size:</div>
        <div id="detail-size" class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">{{spec.amount}} {{spec.units}}</div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Alert Threshold<br/>(Item Qty):</div>
        <div id="detail-qty-threshold" class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          {{#if spec.reorder_qty_threshold}}
            {{spec.reorder_qty_threshold}}
          {{else}}
            <i>(not set)</i>
          {{/if}}
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Alert Threshold<br/>(Amt):</div>
        <div id="detail-amt-threshold" class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          {{#if spec.reorder_amt_threshold}}
            {{spec.reorder_amt_threshold}}
          {{else}}
            <i>(not set)</i>
          {{/if}}
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">
          Most Recent Activity:
        </div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-start flex-column">
          {{#if spec.speclogs}}
          <div class="fw-bold d-block">{{format_datetime spec.speclogs.[0].created}}</div>
          <div>{{spec.speclogs.[0].body}}</div>
          <a class="btn btn-primary btn-sm my-1" href="/specs/{{spec.id}}/logs">View Logs</a>
          {{/if}}
        </div>
      </div>
    </div>
    {{!-- Spec Edit Table --}}
    <div id="spec-edit" style="display:none;">
      {{#if (isAdmin access)}}
      <div id="edit-admin-bar" class="d-flex justify-content-end align-items-center mb-3">
        <div id="err" class="text-danger me-3"></div>
        <button id="cancel" class="btn btn-secondary me-2"><i class="fa-solid fa-xmark me-2"></i>Cancel</button>
        <button id="save" class="btn btn-primary"><i class="fa-solid fa-check me-2"></i>Save Edits</button>
      </div>
      {{/if}}
      <h2 class="col-12 text-primary fw-bold pb-2">
        <input id="name" class="form-control" type="text">
      </h2>
      <div class="row border border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Part No.</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">{{spec.pn}}</div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Category:</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <select id="category" class="form-control"></select>
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Vendor:</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <select id="vendor" class="form-control"></select>
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Status:</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <select id="status" class="form-control"></select>
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Item Size:</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <input id="amount" class="form-control me-2" type="text" style="flex:1;">
          <select id="units" class="form-control ms-2" style="flex:1;"></select>
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Alert Threshold<br/>(Item Qty):</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <input id="qty-threshold" type="text" class="form-control" />
        </div>
      </div>
      <div class="row border border-top-0 border-color-secondary">
        <div class="col-12 col-sm-3 fw-bold bg-white p-2 detail-category">Alert Threshold<br/>(Amt):</div>
        <div class="col-12 col-sm-9 bg-white p-2 d-flex align-items-center">
          <input id="amt-threshold" type="text" class="form-control" />
        </div>
      </div>
    </div>
    {{!-- Stock Section --}}
    <h2 class="col-12 text-primary fw-bold pb-2 pt-4">
      Stock: {{count spec.items}}
    </h2>
    {{#each spec.items as |item|}}
    <a href="/specs/{{../spec.id}}/items/{{item.id}}" class="row border {{#unless (isFirst @index)}}border-top-0{{/unless}} border-color-secondary bg-white text-decoration-none p-2 d-flex justify-content-start">
      <div class="d-flex align-items-center ps-0">
        {{!-- Current amount gauge --}}
        <div class="d-flex rounded border border-2 border-dark me-2" style="height:100%;">
          <div class="d-flex overflow-hidden rounded border border-2 border-white align-items-end" style="height:100%;">
          <div style="display:block;background-color:var(--primary);width:20px;height:{{percentage item.percent_remaining}};"></div>
          </div>
        </div>
        {{!-- Item details --}}
        <div class="d-flex flex-column justify-content-center text-dark text-decoration-none">
          <div><b>Stock Index:</b>&nbsp;{{item.stock_index}}</div>
          <div><b>Lot #:</b>&nbsp;{{item.lot}}</div>
          <div><b>Location:</b>&nbsp;{{item.location.name}}{{#if item.sublocation}}, {{item.sublocation.name}}{{/if}}</div>
          <div class="d-flex align-items-center"><b>Status:</b>&nbsp;
            {{#if (equals item.status 'unopened')}}
              <span class="badge rounded-pill bg-primary"><i class="fa-solid fa-box pe-1"></i>Unopened</span>
            {{else if (equals item.status 'opened')}}
              <span class="badge rounded-pill bg-dark"><i class="fa-solid fa-box-open pe-1"></i>Opened</span>
            {{else if (equals item.status 'empty')}}
              <span class="badge rounded-pill bg-danger"><i class="fa-solid fa-ban pe-1"></i>Empty</span>
            {{/if}}
          </div>
        </div>
        
      </div>
    </a>
    {{/each}}
  </div>
</div>
<script src="text/javascript">
  window.baseUrl = "{{basePath}}";
</script>
{{#if (isAdmin access)}}
<script type="text/javascript" src="/js/manageSpecDetails.js"></script>
{{/if}}
<script src="/js/logout.js"></script>